* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: crimson;
    height: 100vh;
    // header{
    //     display: flex;
    //     i{
    //         color: black;
    //         font-size: 2rem;
    //         margin: 1rem;
    //         cursor: pointer;
    //     }
    // }
}


main{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    align-items: center;
    
    div{
        a{
            text-decoration: none;
            color: crimson;
            .container{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: white;
                height: 170px;
                width: 170px;
                z-index: 2;
                animation: start 1.5s ease-in;
                i{
                    font-size: 4rem;
                }
                h2{
                    font-size: 1rem;
                }
            }
        }
        
    }
    hr{
        height:50vh;
        width:.8vw;
        border-width:0;
        color:white;
        background-color:white;
        z-index: 1;
        animation: start 1.5s ease-in;
    }
}